* {
	font-family: "0xProto Nerd Font";
	font-size: 16px;
}

#window {
	/* #0a0e19, opacity < 1.0 to fix flicker */
	background-color: rgba(10, 14, 25, 0.99999);
	border: 2px solid #f7ff99;
	padding: 4px;
	border-radius: 8px;
}

#outer-box {
	padding: 8px;
	border-radius: 16px;
}

#input {
	padding: 4px 8px;
	background-color: rgba(0, 0, 0, 0.0);
	border-radius: 4px;
	margin-bottom: 8px;
}

#input:focus {
	background-color: rgba(255, 255, 255, 0.2);
	border: 1px solid #f7ff99;
}

#entry {
	margin: 4px 4px;
	padding: 2px 8px;
}

#entry:selected {
	/* f7ff99 */
	background-color: rgba(247, 255, 153, 0.3);
	border-radius: 4px;
	outline: none;
}

#img {
	margin-left: 4px;
}

#text {
	padding: 16px 8px;
}

#expander {
	background-color: #ffffff;
}
